<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<title><%= title%></title>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="posts">
		<div class="post">
			<h3>
				<a href=""><%= post.title %></a>
			</h3>
			<p><%= post.text %></p>
			<div class="bottom">
				<span class="bottom-left"><%= post.author %></span>
				<span class="bottom-rigth"><%= post.updatedAt.toLocaleDateString() || 'No Date' %></span>
			</div>
		</div>	
	</div>	
</body>
</html>